.weather__card {
    position: relative;
    flex-direction: row;
    max-width: 100%;
}

.weather__text {
position: absolute;
left: 16px;
top: 20px;
font-size: 34px;
color: #fff;
margin: 0;
}

.weather__card_img {
object-fit: contain;
}