.modal__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 670px;
    max-width: 100%;
    font-size: 20px;
}

.modal__buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__button-confirm,.modal__button-cancel {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.modal__button-confirm {
    color: #FF4D00;
    margin-top: 40px;
}

.modal__button-cancel {
    margin-top: 24px;
    margin-bottom: 60px;
}