@import url(./vendor/normalize.css);
@font-face {
    font-family: "Cabinet Grotesk";
    src: 
url(../src/vendor/fonts/CabinetGrotesk-Medium.woff2) format("woff2"),
url(../src/vendor/fonts/CabinetGrotesk-Bold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}