.card {
  display: flex;
  justify-content: center;
  width: 323px;
  position: relative;
  border: 1px solid #0000004d;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: auto;
}

.card__title {
  position: absolute;
  top: 25px;
  margin: 0;
  background-color: #fff;
  padding: 2px 12px;
  font-size: 16px;
  font-weight: 700;
  color: #00000099;
  border-radius: 4px;
}

.card__image {
  width: 100%;
}
