.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal--visible {
    visibility: visible;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 28px;
    background: transparent;
    border: none;
}

.modal__content {
    background-color: #fff;
    position: relative;
    padding: 28px 28px 36px;
    max-width: 496px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    border: solid 1px #0000004d;
}

.modal__title {
    margin: 0 0 24px; 
    font-size: 1rem;
    font-weight: 700;
    width: 95px;
    height: 20px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal__input {
    display: block;
    margin-bottom: 24px;
    width: 440px;
    height: 24px;
    border: none;
    border-bottom: #000 1px solid;
}

.modal__label {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
}

.modal__label_type_radio {
    color: #00000080;
}

.modal__label_type_radio:checked {
    color:#000
}

.modal__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0px;
    margin: 0;
}

.modal__radio-legend {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
}

.modal__submit {
    background-color: #000;
    color: #fff;
    margin-top: 24px;
    border-radius: 4px;
    width: 124px;
    height: 36px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.modal__submit:hover {
    background: #00000099;

}