.header {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 32px 0 28px;
    color: #f3f3f3;
  }
  
  .header__logo {
    width: 89px;
    height: 40px;
    margin-right: 24px;
    margin-top: 8px;
  }
  
  .header__date {
    height: 1.5rem;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-top: 8px;
    margin-bottom: 0;
    font-family: "Cabinet Grotesk", Helvetica, sans-serif;
  }
  
  .header__addclothes--btn {
    background-color: transparent;
    border: none;
    color: #000;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    margin: 8px 20px 0 auto;
    height: 24px;
  }
  
  .header__user--container {
    display: flex;
    align-items: center;
    color: #000;
    gap: 12px;
    margin-top: 8px;
    flex-shrink: 0;
  }
  
  .header__username {
    margin: 0;
    font-size: 16px; 
  }
  
  .header__avatar {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  